<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear partido</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="form.js"></script>
</head>
<body>

	<div th:replace="navbar :: common-navbar"></div>
	<div class="container-fluid">
		<form id="form" th:action="@{/save}" th:object=${partido} method="POST">
			<div class="card text-center offset-md-3 col-md-6">
				<div class="card-header">
					<h3>Partido</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<input th:field="*{id}" type="number"
							class="form-control" style="display:none;">
					</div>
					<div class="form-group">
						<label>Fecha</label> <input th:field="*{fecha}" type="date"
							class="form-control" required>
					</div>
					<div class="form-group">
						<label>Hora</label> <input th:field="*{hora}" type="time"
							class="form-control" required>
					</div>
					<div class="form-group">
						<label>Equipo local</label>
						<select id="local" name="local" class="form-control" th:field="${partido.equipoLocal}">
							<option th:each="equipo:${equipos}" th:value="${equipo.id}" th:text="${equipo.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Equipo visitante</label>
						<select id="visitante" name="visitante" class="form-control" th:field="${partido.equipoVisitante}">
							<option th:each="equipo:${equipos}" th:value="${equipo.id}" th:text="${equipo.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Precio</label> <input th:field="*{precio}" type="number"
							class="form-control" required>
					</div>
				</div>
				<div class="card-footer">
					<input id="submit" type="submit" class="btn text-white" style="background-color: #1D418B" value="Guardar">
				</div>
			</div>
		</form>
	</div>
	
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</body>
</html>